body {
    background-color: linear-gradient(to bottom, #003399, #000000);
}

.element::before {
    content: "</";
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
